h2 {
          
           padding: 0 80px;}
body
       {
        
        background-image:url("z.jpg");
        color: white;
        
       }


#container{
           width:1200px;height:920px;margin-left:auto;margin-right:auto;
           border:10px solid black;
		   /*background-color:black;
           
          */
          }
#side1{
           width:200px;height:600px;margin-right:auto;
           background-color:lightblue;
          float:left;
		   color :black;
		  }

#loop{     
           width:600px;height:600px;margin-left:auto;margin-right:auto;
           background-color:royalblue;
		   float:left;
		  
          }

#side2{
           width:400px;height:600px;margin-left:auto;
           background-color:lightblue;
		   float:right;
          }


#hr1{      
           height:60px;
           background-color:royalblue;
           padding-top:25px;
           padding-bottom:15px;
           padding-left:50px;
           color: black;
          }
#header{
           height:100px;
		   background-color:lightred;
           
          }
#footer{
           clear:both;
           height:100px;
		   background-color:blue;
           
          }
  
/*
#main{
           
           background-color:lightblue;
           padding-top:25px;
           padding-bottom:15px;
           padding-left:50px;
           color: black;

          }


*/